.bookmark_row
  %time
    = bookmark.created_at
  .title
    = link_to bookmark.title, bookmark.url
    - if bookmark.private == 1
      %img{:src => '../images/lock.png', :title => 'Private'}
  .description
    /= bookmark.description if bookmark.description
  .tags
    = raw bookmark.tag_list.collect{|tag| link_to(tag, tag_path(tag)) }.join(' ')
  - if can? :update, bookmark
    .admin
      = link_to t('edit'), edit_bookmark_path(bookmark)