%h1  Relish

%p
  Your bookmarks are so delicious, kinda like <span class="relish_green">relish</span>.

%h2 Relishious Bookmarks

.bookmark_list
  - for bookmark in @bookmarks
    = render 'bookmarks/bookmark_row', :bookmark => bookmark
